<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="flex">
    <div>
      <a href="/">
        <button>HOME</button>
      </a>
    </div>
  </header>
  <main>
    <div>
      <form action="/products/<%= product.id %>" method="POST">
        <input type="text" name="productName" placeholder="productName" value="<%= product.productName%>">
        <input type="text" name="quantity" placeholder="quantity" value="<%= product.quantity%>">
        <input type="text" name="price" placeholder="price" value="<%= product.price%>">
        <input type="submit" value="Update">
      </form>
    </div>
  </main>
</body>
</html>